//sudo apt install xdotool-dev
requires this fork of xdotool https://github.com/dpellegr/xdotool, fixes a lot of memory leaks
sudo apt install libconfig++-dev
sudo apt install libX11-dev

git clone https://github.com/whoshuu/cpr.git
cd cpr
mkdir build && cd build
cmake ..
make
sudo make install

