//sudo apt install xdotool-dev
requires this fork of xdotool https://github.com/dpellegr/xdotool, fixes a lot of memory leaks
sudo apt install libconfig++-dev
sudo apt install libX11-dev

//httplib.h header
git clone https://github.com/yhirose/cpp-httplib